.navbar{
    box-sizing: border-box;
    background-image: linear-gradient(rgb(255,255,255) 0px,rgb(248,248,248) 100%);
    background-repeat:repeat-x;
    border-bottom-color: rgb(231,231,231);
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(231,231,231);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(231,231,231);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(231,231,231);
    border-top-style: solid;
    border-radius: 0px;
    border-top-width: 0px;
    box-shadow: inset 0 1px 0 rgba(255 255 255 0.15), 0 1px 5px rgba(0 0 0 0.08);
    background-color: rgb(248,248,248);
    color: rgb(51,51,51);
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 50px;
    line-height: 20px;
    margin-bottom: 20px;
    min-height: 50px;
    position: relative;
    width:1296px;
    z-index: 1000;
}

.navbarheader{
    box-sizing: border-box;
    color: rgb(51,51,51);
    display: block;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 50px;
    line-height: 20px;
    margin-left: 0px;
    margin-right: 0px;
    -ms-text-size-adjust: 100%;
}

.nav img{
    box-sizing: border-box;
    border-bottom-color: rgb(51,122,183);
    border-bottom-style:none;
    border-bottom-width:0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(51,122,183);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(51,122,183);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(51,122,183);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(51,122,183);
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 45px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-decoration-thickness: auto;
    vertical-align: middle;
    width:55px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navvarbrand{
    background-color: rgba(0,0,0,0);
    box-sizing: border-box;
    color: rgb(119,119,119);
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    margin-left: -15px;
    padding: 15px;
    text-decoration-color: rgb(119,119,119);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-shadow: rgba(255,255,255,0.25) 0px 1px 0px;
    width:143.359px;
}

.nav button1 {
    font: inherit;
    background: #dd0db0;
    border: 1px solid #dd0db0;
    padding: 0.5rem 1.5rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

.nav button:focus {
    outline: none;
}

.nav button:hover,
.nav button1:active {
    color: #f3cafb;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}


.navbarleft{
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-right{
    display: flex;
    justify-content:flex-end;
}

.right{
    display: flex;
    justify-content:flex-end;
}

.left{
    display: flex;
    justify-content: flex-start;
}
